##Knowlegde Check - 2

## Question# 1

Points : 5 *italicized text*

Write a function that returns the smallest of two even numbers, if both numbers are even and, the greater if one or both numbers are odd
   
                   lesser_of_two_evens(2,4) --> 2
                   lesser_of_two_evens(2,5) --> 5

In [ ]:
def smallest_of_two_evens(a,b):
  if a < b:
    return a
  else:
    return b

In [ ]:
# Check1
smallest_of_two_evens(2,4)

4

In [ ]:
# Check2
smallest_of_two_evens(2,5)

5

## Question# 2

Points : 5

Write a function takes a two-word string and returns True if both words begin with same letter.

            word_crackers('Lion', 'Lady') --> True
            word_crackers('Crazy', 'Drink') --> False

In [ ]:
def word_crackers(word1,word2):
    if word1==word2:
      return True
    else:
      return False

In [ ]:
# Check1
word_crackers('Lion', 'Lady')

False

In [ ]:
# Check2
word_crackers('Crazy', 'Drink')

False

## Question# 3

Points : 5

Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    sum_twenty(20,10) --> True
    sum_twenty(12,8) --> True
    sum_twenty(2,3) --> False

In [ ]:
def sum_twenty(n1,n2):
    if (n1+n2)==20:
      return True
    elif (n1 or n2) ==20:
      return True
    else:
      return False

In [ ]:
# Check1
sum_twenty(20,10)

True

In [ ]:
# Check2
sum_twenty(2,3)

False

## Question# 4

Points : 5

Write a function that capitalizes the first and fourth letters of a name
     
    cap_first_four('macdonald') --> MacDonald

In [ ]:
def cap_first_four(name):
    letter = list(name)
    letter[0]=letter[0].upper()
    letter[3]=letter[3].upper()
    return "".join(letter)

In [ ]:
# Check
cap_first_four('macdonald')

'MacDonald'

## Question# 5

Points : 5

Given a sentence, return a sentence with the words reversed

    rev_words('I am home') --> 'home am I'
    rev_words('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join.

    " ".join(['Hello','world'])
    "Hello world"

In [ ]:
def rev_words(text):
    word=text.split()
    word=word[::-1]
    word=" ".join(word)
    return word

In [ ]:
# Check1
rev_words('I am home')

'home am I'

In [ ]:
# Check2
rev_words('We are ready')

'ready are We'

## Question# 6

Points : 5

Given an integer n, return True if n is nearest to either 100 or 200 with the difference of upto 10.

    nearest_num(90) --> True
    nearest_num(104) --> True
    nearest_num(150) --> False
    nearest_num(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
def nearest_num(n):
    return (abs(n - 100) <= 10) or (abs(n - 200) <= 10)

In [ ]:
# Check1
nearest_num(104)

True

In [ ]:
# Check2
nearest_num(150)

False

In [ ]:
# Check3
nearest_num(209)

True

## Question# 7

Points : 5

Given a list of ints, return True if the list contains a same numeric value next.

    contains_two_samevalues([1, 3, 3]) → True
    contains_two_samevalues([1, 3, 1, 3]) → False
    contains_two_samevalues([3, 1, 3]) → False

In [ ]:
def contains_two_samevalues(nums):
  for i, num in enumerate(nums[:-1]):
    if num == nums[i+1]:
      return True
  return False

In [ ]:
# Check1
contains_two_samevalues([1, 3, 3])

True

In [ ]:
# Check2
contains_two_samevalues([1, 3, 1, 3])

False

In [ ]:
# Check3
contains_two_samevalues([3, 1, 3])

False

## Question# 8

Points : 5

Given a string, return a string where for every character of the string appears 3 time.

    repeat_three('Hello') --> 'HHHeeellllllooo'
    repeat_three('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [ ]:
def repeat_three(text):
    repeated_text = ''
    for letter in text:
      three_letter = letter*3
      repeated_text+=three_letter
    return repeated_text

In [ ]:
# Check1
repeat_three('Hello')

'HHHeeellllllooo'

In [ ]:
# Check2
repeat_three('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

## Question# 9

Points : 5

Write a function that returns the *number* of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [20]:
def count_primes(num):
    if num < 2:
        return 0

    primes = [2]
    x = 3
    while x <= num:
        prime = True
        for p in primes:
            if x % p == 0:
                prime = False
                break
        if prime:
            primes.append(x)
        x += 2

    return len(primes)

In [21]:
# Check1
count_primes(100)

25