##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [6]:
name = "Angela"
city = "New York"

print("Name: " + name)
print("City: " + city)

Name: Angela
City: New York

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [9]:

print("Emergency Alert")
print("NEWS : FLASH FLOOD WARNING this area till 7:00 PM")

Emergency Alert
NEWS : FLASH FLOOD WARNING this area till 7:00 PM

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [69]:
input1 = input("Enter a number: ")
input1 = int(input1)
print(input1)
print("output is: ")
for i in range(3):
  input1 = input1/2
  print(input1)

Enter a number: 2000
2000
output is:
1000.0
500.0
250.0

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [25]:
x = float(input("Enter a number for x: "))
y = float(input("Enter a number for y: "))
z = float(input("Enter a number for z: "))

print("x to the power z: "+str(x**z))
print("x to the power of y: "+str(x**y))
print("x minus y: "+str(x-y))
print("remainder value when x is divided by z: "+str(x%z))

Enter a number for x: 2
Enter a number for y: 3
Enter a number for z: 4
x to the power z: 16.0
x to the power of y: 8.0
x minus y: -1.0
remainder value when x is divided by z: 2.0

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.5) and 1 cent
        Output:  the total amount as dollars and cents.

In [86]:
quarters = 4
dimes = 3
nickels = 2
cents = 1

print(f"{quarters} quarters (0.25), {dimes} dimes (0.10), {nickels} nickels (0.5) and {cents} cent")

total = quarters*0.25 + dimes*0.10 + nickels*0.05 + cents*0.01
print(f"Output: {total}")

4 quarters (0.25), 3 dimes (0.10), 2 nickels (0.5) and 1 cent
Output: 1.4100000000000001

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [31]:
p = "Python"
p[-2]

'o'

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [42]:
p = "Python"
p[2:5]

'tho'

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [40]:
p = "Python Class"
p[-5:]

'Class'

9 - Find the length of the String  **Welcome to Pace University**

In [47]:
string_content = "Welcome to Pace University"
len(string_content)

26

10 - Split the String  **Welcome to Pace University**  into words

In [49]:
string_content.split()

['Welcome', 'to', 'Pace', 'University']

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [56]:
term = "DATA Science"
print(term)
print(term.lower())

DATA Science
data science

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [57]:
print(term.upper())

DATA SCIENCE

14 - reverse the given String  **Artificial intelligence**

In [63]:
("Artificial intelligence")[::-1]

'ecnegilletni laicifitrA'

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [64]:
a = 150
b = 225

if a==b:
  print("a is equal to b")
elif a>b:
  print("a is greater than b")
elif a>=b:
  print("a is greater than or equal to b")
elif a<b:
  print("a is less than b")
elif a<=b:
  print("a is less than or equal to b")
elif a!=b:
  print("a is not equal to b")

a is less than b

###Lists

16 - Create a **list** of **lists** of integers elements

In [ ]:
a_list = [2,5,3,7]

17 - Create a **list** of **lists** of Text elements